<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="painel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>    
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <div v-show="hasResult" class="painel result">
            <div v-if="monsterLife == 0" class="win">Você ganhou! :D</div>
            <div v-else class="lose">Você Perdeu! ;(</div>
        </div>
        <div class="painel buttons">
            <template v-if="running">
                <button @click="attack(false)" class="btn attack">Ataque</button>
                <button @click="attack(true)" class="btn special-attack">Ataque Especial</button>
                <button @click="healAndHurt" class="btn heal">Curar</button>
                <button @click="running = !running" class="btn give-up">Desistir</button>
            </template>
            <button v-else @click="startGame" class="btn new-game">Iniciar Jogo</button>
        </div>
        <div v-if="logs.length" class="painel logs">
            <ul>
                <li v-for="log in logs" :class="log.cls" class="log">{{ log.text }}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>